.w-layout-blockcontainer {
  max-width: 970px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.w-layout-layout {
  grid-row-gap: 20px;
  grid-column-gap: 20px;
  grid-auto-columns: 1fr;
  justify-content: center;
  padding: 20px;
}

.w-layout-cell {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.w-layout-hflex {
  flex-direction: row;
  align-items: flex-start;
  display: flex;
}

.w-embed-youtubevideo {
  width: 100%;
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/static/youtube-placeholder.2b05e7d68d.svg');
  background-position: 50%;
  background-size: cover;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  position: relative;
}

.w-embed-youtubevideo:empty {
  min-height: 75px;
  padding-bottom: 56.25%;
}

.w-layout-vflex {
  flex-direction: column;
  align-items: flex-start;
  display: flex;
}

@media screen and (max-width: 991px) {
  .w-layout-blockcontainer {
    max-width: 728px;
  }
}

@media screen and (max-width: 767px) {
  .w-layout-blockcontainer {
    max-width: none;
  }
}

body {
  color: #333;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 20px;
}

a {
  color: #1e1e1e;
  text-decoration: underline;
}

.hero-video {
  z-index: -3;
  max-width: none;
  object-fit: fill;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  position: absolute;
  top: 0%;
  bottom: 0;
  left: 0%;
  right: 0%;
  overflow: hidden;
}

.hero-video.hero-video-mobile {
  display: none;
}

.navigation {
  position: absolute;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: 0%;
}

.div-block {
  height: 80px;
  padding-left: 40px;
  padding-right: 40px;
}

.navbar {
  background-color: rgba(221, 221, 221, 0);
  border-bottom: 1px solid #9bffdb;
  position: relative;
}

.container {
  margin-top: auto;
  margin-bottom: auto;
  position: absolute;
}

.nav-menu {
  object-fit: fill;
  position: relative;
  top: auto;
  right: auto;
}

.container-2 {
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.nav-link {
  color: #9bffdb;
  letter-spacing: .05em;
  text-transform: uppercase;
  padding-left: 40px;
  padding-right: 40px;
  font-family: Krona One, sans-serif;
  font-size: 11px;
  font-weight: 600;
}

.container-3 {
  z-index: 3;
  position: absolute;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: 0%;
}

.section {
  z-index: 2;
  width: 100%;
  height: 55vw;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  object-fit: fill;
  flex-direction: column;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: space-between;
  display: flex;
  position: relative;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  overflow: hidden;
}

.hero-content-wrapper {
  margin-top: 140px;
}

.hero-content {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  object-fit: fill;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
  margin-top: 10vw;
  margin-bottom: 100px;
  display: flex;
  position: relative;
  bottom: 60px;
}

.hero-heading {
  color: #9bffdb;
  text-align: center;
  text-transform: none;
  margin-top: 20px;
  font-family: Playfair Display, sans-serif;
  font-style: normal;
  font-weight: 500;
}

.hero-heading.hero-heading-big {
  margin-top: 0;
}

.text-span {
  white-space: normal;
  font-size: 4.1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 2.7rem;
}

.text-span-2 {
  letter-spacing: -.3rem;
  font-size: 4.1rem;
  font-style: italic;
  line-height: 3rem;
}

.text-span-3 {
  font-size: 3.2rem;
  line-height: 3.3rem;
}

.section-2 {
  z-index: 0;
  height: 340px;
  background-color: #6dd9b2;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  margin-top: -90px;
  padding-top: 90px;
  padding-bottom: 40px;
  display: none;
  position: relative;
}

.review-box {
  width: 25%;
  min-width: 200px;
}

.review-text {
  color: #1f332c;
  font-family: Playfair Display, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

.reviews-container {
  justify-content: space-around;
  align-items: flex-start;
}

.review-name {
  color: #1f332c;
  font-family: Poppins, sans-serif;
  font-size: 12px;
  font-weight: 600;
}

.container-6 {
  z-index: 4;
  position: relative;
}

.heading-3 {
  max-width: 230px;
  text-transform: uppercase;
  margin-top: 0;
  font-family: Playfair Display, sans-serif;
  font-size: 2.1rem;
  font-weight: 500;
  line-height: 2.2rem;
}

.main-content {
  border: 1px #000;
  flex-flow: column;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  position: relative;
}

.button {
  width: 270px;
  height: 65px;
  color: #9bffdb;
  text-align: center;
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid #9bffdb;
  border-radius: 3.625rem;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  padding: 10px 20px;
  font-family: Krona One, sans-serif;
  font-size: 12px;
  font-weight: 400;
  display: flex;
}

.button.black-button {
  width: 240px;
  height: 55px;
  color: #1e1e1e;
  -webkit-text-stroke-color: #1e1e1e;
  border-color: #1e1e1e;
  margin-top: 0;
  font-size: 12px;
}

.button.black-button.blue-button {
  color: #1f332c;
  background-color: #6dd9b2;
  border-style: none;
}

.hero-heading-small {
  color: #9bffdb;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: -10px;
  font-family: Poppins, sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
}

.centered-container {
  width: 100%;
  max-width: 860px;
  grid-column-gap: 16px;
  border-bottom: 1px solid #000;
  border-left: 1px solid #000;
  border-right: 1px solid #1e1e1e;
  padding: 40px 60px;
}

.centered-container.event-details-container {
  grid-row-gap: 34px;
  background-color: rgba(0, 0, 0, 0);
  border-bottom-style: none;
  border-left-style: none;
  border-right-style: none;
  flex: 0 auto;
  align-self: center;
  padding-top: 20px;
}

.centered-container.no-bottom-border {
  height: auto;
  border-bottom-style: none;
  position: relative;
}

.centered-container.no-bottom-border.top-border {
  border-top: 1px solid #1e1e1e;
}

.centered-container.youtube-video {
  grid-column-gap: 43px;
  padding-bottom: 40px;
}

.centered-container.faq-section {
  padding-left: 20px;
  padding-right: 20px;
}

.centered-container.copyright {
  grid-row-gap: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.centered-container.no-borders {
  color: #fff;
  border-bottom-style: none;
  border-left-style: none;
  border-right-style: none;
}

.centered-container.no-borders.gallery-2 {
  grid-column-gap: 0px;
  padding: 0;
}

.cell {
  grid-row-gap: 0px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 0;
}

.cell.flower-quote {
  justify-content: center;
}

.cell.centered {
  align-items: center;
}

.grid {
  grid-row-gap: 16px;
  grid-template: "Area"
  / 2.5fr;
  align-items: stretch;
  justify-items: stretch;
}

.cell-2 {
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}

.cell-3 {
  justify-content: flex-start;
}

.grid-2 {
  grid-template-rows: minmax(195px, 1fr);
  grid-template-columns: 1fr 2fr;
}

.grid-3 {
  grid-template-rows: 100px;
  grid-template-columns: 1fr;
}

.grid-4 {
  grid-template-rows: 200px;
  grid-template-columns: 1fr;
}

.paragraph {
  max-width: 300px;
  color: #1e1e1e;
  font-family: Poppins, sans-serif;
  font-size: 12px;
  line-height: 25px;
}

.paragraph.answer-1 {
  color: #1e1e1e;
  border: 1px rgba(0, 0, 0, 0);
  margin-left: 0;
  padding-left: 0;
}

.paragraph.answer-2, .paragraph.answer-3 {
  display: block;
}

.heading-2 {
  z-index: 4;
  text-transform: uppercase;
  margin-bottom: 10px;
  font-family: Playfair Display, sans-serif;
  font-size: 5.4rem;
  font-weight: 500;
  line-height: 4.4rem;
  position: absolute;
  top: 19px;
}

.cell-4 {
  justify-content: center;
  align-items: center;
}

.full-bleed {
  width: 100vw;
  height: 430px;
  max-width: none;
  background-color: rgba(0, 0, 0, 0);
  justify-content: center;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  padding-top: 40px;
  display: flex;
  position: relative;
}

.full-bleed.event-details {
  height: 510px;
  background-color: #e6abff;
}

.full-bleed.flower-quote {
  height: 470px;
  background-color: #6dd9b2;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding-top: 0;
}

.full-bleed.about-us {
  height: 533px;
  background-image: url('../images/240452778_376232864062855_526074663287213067_n.jpg');
  background-position: 50%;
  background-size: cover;
}

.image {
  z-index: -5;
  max-width: 50%;
  position: absolute;
  top: -74px;
}

.cell-5 {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template: "Area Area-2"
                 "Area-3 Area-4"
                 / 1fr 1fr;
  grid-auto-columns: 1fr;
  padding-left: 40px;
  display: grid;
}

.details-label {
  color: #1e1e1e;
  text-transform: uppercase;
  margin-bottom: 9px;
  font-family: Poppins, sans-serif;
  font-size: 10px;
  font-weight: 500;
}

.details-value {
  font-family: Poppins, sans-serif;
  font-size: .9rem;
  font-weight: 600;
  line-height: 1rem;
}

.cell-6 {
  justify-content: center;
  align-items: center;
}

.list {
  align-self: stretch;
  display: block;
}

.question-box {
  cursor: pointer;
  border-top: 1px solid #000;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}

.question-box.active-question {
  padding-left: 40px;
}

.question-text {
  color: #1e1e1e;
  text-transform: uppercase;
  font-family: Poppins, sans-serif;
  font-size: 15px;
  font-weight: 600;
}

.text-span-4 {
  font-style: italic;
}

.cell-7 {
  justify-content: center;
  align-items: center;
}

.cell-8 {
  display: block;
}

.heading-4 {
  color: #1f332c;
  font-family: Playfair Display, sans-serif;
  font-size: 3.5rem;
  font-weight: 500;
  line-height: 3rem;
}

.text-span-5 {
  font-family: Playfair Display, sans-serif;
  font-weight: 500;
}

.text-span-6 {
  font-family: Playfair Display, sans-serif;
  font-size: 4rem;
  font-style: italic;
  font-weight: 500;
  line-height: 3.3rem;
}

.text-span-7 {
  font-family: Playfair Display, sans-serif;
  font-weight: 500;
  line-height: 4.1rem;
}

.text-span-8 {
  font-family: Playfair Display, sans-serif;
  font-style: italic;
  font-weight: 500;
  line-height: 3rem;
}

.text-span-9 {
  text-transform: uppercase;
  line-height: 4rem;
}

.footer-item {
  padding-top: 10px;
  padding-bottom: 10px;
}

.footer-item-text {
  text-transform: uppercase;
  font-family: Krona One, sans-serif;
  font-size: 11px;
  text-decoration: none;
}

.quick-stack {
  grid-row-gap: 20px;
  flex: 1;
}

.footer-socials {
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start;
}

.social-icon {
  padding: 10px;
}

.flower-quote-vector {
  align-items: center;
}

.quick-stack-2 {
  order: 0;
  align-self: stretch;
}

.cell-9 {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.youtube-description {
  justify-content: center;
}

.youtube {
  border-radius: 10px;
  overflow: hidden;
}

.gallery-item {
  border-radius: 0;
  flex-wrap: nowrap;
  display: flex;
}

.image-2, .gallery-image {
  border-radius: 10px;
  overflow: hidden;
}

.faq-box {
  background-color: #f2f2f2;
  border-radius: 10px;
  padding: 10px 25px;
}

.cell-10 {
  align-items: center;
}

.cell-11, .cell-12 {
  justify-content: center;
  align-items: center;
}

.mobile-slider {
  display: none;
}

.cell-14 {
  justify-content: center;
  align-items: center;
}

.flex-block {
  max-width: 860px;
  grid-column-gap: 50px;
  border-bottom: 1px solid #000;
  border-left: 1px solid #1e1e1e;
  border-right: 1px solid #1e1e1e;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  padding: 60px;
}

.flex-block.centered-container {
  grid-column-gap: 15px;
  padding-left: 40px;
  padding-right: 40px;
}

.text-block {
  color: #1e1e1e;
  font-family: Krona One, sans-serif;
  font-size: 8px;
}

.cell-16 {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.link-block {
  text-decoration: none;
}

.cell-17, .cell-18, .cell-19 {
  align-items: center;
}

.div-block-2 {
  z-index: 1001;
  order: 0;
  margin-top: 20px;
  padding: 20px;
  position: absolute;
  top: 0%;
  bottom: auto;
  left: 5%;
  right: auto;
}

.image-7.unmuted {
  display: none;
}

.image-8 {
  object-fit: cover;
  border-radius: 20px;
  overflow: hidden;
}

.link-block-2, .link-block-3 {
  display: none;
}

.text-span-10 {
  font-weight: 500;
}

@media screen and (max-width: 991px) {
  .navbar {
    border-bottom-style: none;
  }

  .hero-content {
    margin-top: 4vw;
  }

  .hero-heading.hero-heading-big {
    line-height: 32px;
  }

  .text-span {
    font-size: 2.8rem;
    line-height: 2.3rem;
  }

  .text-span-2 {
    letter-spacing: -.1rem;
    font-size: 2.8rem;
    line-height: 3rem;
  }

  .text-span-3 {
    font-size: 1.8rem;
    line-height: 2.4rem;
  }

  .button {
    width: 230px;
    height: 52px;
    font-size: 10px;
  }

  .centered-container {
    border-left-style: solid;
    border-right-style: solid;
  }
}

@media screen and (max-width: 479px) {
  .hero-video {
    display: none;
  }

  .hero-video.hero-video-mobile {
    object-fit: fill;
    border-radius: 0;
    align-items: flex-start;
    display: block;
    top: 0%;
    bottom: auto;
    left: 0%;
    right: 0%;
    overflow: hidden;
  }

  .navbar {
    width: 100%;
    height: 80px;
    border-bottom-style: none;
    align-items: flex-start;
    display: block;
    position: static;
  }

  .section {
    height: 600px;
    min-height: 600px;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    position: relative;
    overflow: hidden;
  }

  .hero-content {
    justify-content: center;
    align-self: auto;
    align-items: flex-start;
    margin-top: 28vw;
  }

  .hero-heading.hero-heading-big {
    text-align: left;
    line-height: 35px;
  }

  .text-span {
    text-align: left;
    font-size: 2.8rem;
    line-height: 2.3rem;
  }

  .text-span-2 {
    letter-spacing: -.1rem;
    font-size: 2.9rem;
    line-height: 3rem;
  }

  .text-span-3 {
    font-size: 2.5rem;
    line-height: 2.6rem;
  }

  .section-2 {
    display: none;
    overflow: scroll;
  }

  .review-box {
    min-width: 200px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .reviews-container {
    object-fit: fill;
    flex-direction: row;
    padding-left: 504px;
    overflow: visible;
  }

  .heading-3 {
    max-width: none;
    text-align: left;
    font-size: 1.6rem;
    line-height: 1.6rem;
  }

  .heading-3.youtube-heading {
    text-align: center;
  }

  .main-content {
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    overflow: hidden;
  }

  .button {
    width: 247px;
    height: 56px;
  }

  .hero-heading-small {
    margin-bottom: 20px;
    font-family: Krona One, sans-serif;
    font-size: 11px;
    line-height: 15px;
  }

  .centered-container {
    border-left-style: none;
    border-right-style: none;
    flex: 0 auto;
    order: 0;
    align-self: auto;
    padding: 40px 30px;
  }

  .centered-container.event-details-container {
    grid-row-gap: 40px;
    padding-top: 100px;
  }

  .centered-container.no-bottom-border {
    height: auto;
    flex: 0 auto;
  }

  .centered-container.no-bottom-border.upcoming-event {
    grid-column-gap: 25px;
    grid-row-gap: 20px;
    padding-bottom: 100px;
    overflow: visible;
  }

  .centered-container.youtube-video {
    margin-top: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .centered-container.faq-section {
    overflow: scroll;
  }

  .centered-container.copyright {
    padding-left: 0;
    padding-right: 0;
  }

  .centered-container.footer {
    order: 0;
  }

  .centered-container.no-borders.gallery-2 {
    grid-column-gap: 6px;
    padding-bottom: 0;
  }

  .cell {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .cell.flower-quote {
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
  }

  .cell.centered {
    align-items: flex-start;
  }

  .cell-2 {
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }

  .paragraph {
    max-width: none;
  }

  .paragraph.answer-1 {
    margin-left: 0;
  }

  .heading-2 {
    width: 100%;
    max-width: 290px;
    word-break: break-all;
    align-self: auto;
    padding-left: 20px;
    font-size: 4.5rem;
    line-height: 3.8rem;
    top: 0%;
    bottom: auto;
    left: 0%;
    right: 0%;
  }

  .cell-4 {
    align-items: center;
  }

  .full-bleed {
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    display: block;
  }

  .full-bleed.event-details {
    height: 690px;
    padding-top: 0;
    overflow: hidden;
  }

  .full-bleed.flower-quote {
    height: auto;
  }

  .full-bleed.reviews {
    display: none;
  }

  .image {
    max-width: 93%;
    overflow: visible;
  }

  .cell-5 {
    grid-column-gap: 0px;
    grid-row-gap: 37px;
    grid-template-columns: 1fr 1fr;
    padding-top: 0;
    padding-left: 20px;
    padding-right: 20px;
  }

  .details-label {
    margin-bottom: -1px;
  }

  .text-span-5 {
    font-size: 3rem;
  }

  .text-span-6 {
    font-size: 3.3rem;
    line-height: 2.5rem;
  }

  .text-span-7 {
    font-size: 2.9rem;
    line-height: 3.2rem;
  }

  .text-span-8 {
    font-size: 3.1rem;
    line-height: 2.3rem;
  }

  .text-span-9 {
    font-size: 2.8rem;
  }

  .footer-links {
    text-align: center;
  }

  .footer-socials {
    grid-column-gap: 35px;
    justify-content: center;
  }

  .quick-stack-2 {
    padding-left: 0;
    padding-right: 0;
  }

  .youtube-description {
    align-items: flex-start;
    padding-left: 10px;
    padding-right: 10px;
  }

  .gallery-image {
    width: 100px;
  }

  .faq-box {
    width: 100%;
    min-width: 240px;
    flex-direction: column;
    margin: 20px 20px 20px 0;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .cell-11, .cell-12 {
    align-items: flex-start;
  }

  .quick-stack-3 {
    grid-row-gap: 10px;
  }

  .cell-13 {
    grid-row-gap: 20px;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }

  .gallery-mobile {
    padding-left: 0;
    padding-right: 0;
  }

  .mobile-slider {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 10px;
    flex-direction: row;
    flex: 0 auto;
    align-self: auto;
    display: block;
    overflow: hidden;
  }

  .cell-14 {
    align-items: flex-start;
  }

  .flex-block {
    width: 100%;
    flex-direction: row;
    align-items: stretch;
    overflow: scroll;
  }

  .flex-block.centered-container {
    grid-column-gap: 0px;
    justify-content: flex-start;
    padding-bottom: 25px;
  }

  .flex-block.centered-container.faq-section {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .cell-15 {
    align-items: flex-start;
  }

  .image-3 {
    width: 260px;
  }

  .text-block {
    font-family: Krona One, sans-serif;
    font-size: 6px;
  }

  .cell-16 {
    align-items: center;
  }

  .quick-stack-4 {
    height: 300px;
    padding-left: 0;
    padding-right: 0;
  }

  .image-4, .image-5 {
    border-radius: 5px;
  }

  .mask {
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    display: flex;
  }

  .slide {
    flex: none;
    align-self: center;
  }

  .slider-review-box {
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    padding-left: 40px;
    padding-right: 40px;
    display: flex;
    position: static;
  }

  .icon, .icon-2 {
    color: #1e1e1e;
  }

  .div-block-2 {
    background-color: rgba(30, 30, 30, .25);
    border-radius: 100%;
    margin-top: 10px;
    margin-left: 10px;
    padding: 20px;
    position: absolute;
    top: 0%;
    bottom: auto;
    left: 0%;
    right: auto;
  }

  .image-6 {
    color: #9bffdb;
    -webkit-text-stroke-color: #9bffdb;
  }

  .image-7, .html-embed {
    display: none;
  }
}

#w-node-_0d0b54c0-5591-6353-c8c4-79a6f707fcd7-34b6fcd6 {
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr 1fr;
}

#w-node-_0d0b54c0-5591-6353-c8c4-79a6f707fcd8-34b6fcd6, #w-node-_0d0b54c0-5591-6353-c8c4-79a6f707fcd9-34b6fcd6, #w-node-_36510e76-db47-5165-f158-dfa1f72dc6f8-34b6fcd6 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-a190b921-99b7-bf7f-0121-4e50d3c13964-34b6fcd6 {
  grid-area: span 1 / span 3 / span 1 / span 3;
}

#w-node-_93198dbd-4e69-d56d-436c-33c031d593af-34b6fcd6 {
  grid-template-rows: auto;
  grid-template-columns: .6fr 1fr;
  display: grid;
}

#w-node-_566b8e2a-b405-e05d-9b14-f9008d6f94c5-34b6fcd6, #w-node-_29c0619f-83af-720a-c131-497c5c1f6e3b-34b6fcd6 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_17555c19-5879-f2fc-593e-f83909ff402f-34b6fcd6 {
  grid-template-rows: auto auto auto auto;
  grid-template-columns: 1fr 1fr;
}

#w-node-_17555c19-5879-f2fc-593e-f83909ff4030-34b6fcd6 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_17555c19-5879-f2fc-593e-f83909ff4032-34b6fcd6 {
  grid-area: span 2 / span 1 / span 2 / span 1;
}

#w-node-_17555c19-5879-f2fc-593e-f83909ff4034-34b6fcd6 {
  grid-area: span 3 / span 1 / span 3 / span 1;
}

#w-node-_17555c19-5879-f2fc-593e-f83909ff4036-34b6fcd6 {
  grid-area: span 2 / span 1 / span 2 / span 1;
}

#about-us.w-node-_5232a65c-de11-323a-2fcb-e6602ea7e46d-34b6fcd6 {
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
}

#w-node-_5232a65c-de11-323a-2fcb-e6602ea7e46e-34b6fcd6, #w-node-_5232a65c-de11-323a-2fcb-e6602ea7e473-34b6fcd6 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_9c003587-035f-efb1-becd-242b35db6173-34b6fcd6 {
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
}

#w-node-_9c003587-035f-efb1-becd-242b35db6174-34b6fcd6, #w-node-_9c003587-035f-efb1-becd-242b35db6177-34b6fcd6 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_5e4cd5a5-42ff-3fca-635c-04629b68b861-34b6fcd6 {
  grid-template-rows: auto;
  grid-template-columns: 1.75fr 1fr;
}

#w-node-_5e4cd5a5-42ff-3fca-635c-04629b68b862-34b6fcd6, #w-node-_5e4cd5a5-42ff-3fca-635c-04629b68b86b-34b6fcd6 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_30b8a261-8f4e-85ff-eec5-36c05cbeffc2-34b6fcd6 {
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
}

#w-node-_2e21c6f4-5188-632e-3e36-9199e4bba03b-34b6fcd6, #w-node-_8ff46889-eb01-c9b5-1682-44e9ad855f07-34b6fcd6 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_72dfc285-b391-6e01-1c9c-2777858931b6-34b6fcd6 {
  grid-template-rows: auto;
  grid-template-columns: .5fr 1fr 1fr 1fr;
}

#w-node-_72dfc285-b391-6e01-1c9c-2777858931b7-34b6fcd6, #w-node-_72dfc285-b391-6e01-1c9c-2777858931c0-34b6fcd6, #w-node-_5720b6ae-c30c-0ec9-d8f4-31a484b71d7e-34b6fcd6, #w-node-dc9819d8-4bd0-3c68-e536-9d333c25cfa5-34b6fcd6 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_09555ed3-6217-3ce5-e5cb-63ca75a9705c-34b6fcd6 {
  grid-template-rows: auto auto;
  grid-template-columns: 1.25fr 1fr;
}

#w-node-f0d2d3c0-f61e-2220-d0a4-6f40ad689024-34b6fcd6 {
  grid-area: span 2 / span 1 / span 2 / span 1;
}

#w-node-db76683e-371a-7e8f-cdaf-53d1de89c8ba-34b6fcd6, #w-node-_5f4258c6-70cd-942c-d657-946a9e715518-34b6fcd6 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-a8ebb79f-6971-befb-117a-16b28853e069-34b6fcd6 {
  grid-area: Area;
}

#w-node-_2a3a1161-290d-53c0-6ef7-b2ae7901f2ba-34b6fcd6, #w-node-_10da4896-33f2-c0f8-8ef3-cfb181b7de1e-34b6fcd6 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_10da4896-33f2-c0f8-8ef3-cfb181b7de1f-34b6fcd6 {
  grid-area: Area;
}

#w-node-_39931e2f-b68a-c490-57ef-439befb19846-34b6fcd6 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_39931e2f-b68a-c490-57ef-439befb19847-34b6fcd6 {
  grid-area: Area;
}

#w-node-f3e46a8c-d603-e6a0-6493-c612ab2b6c59-34b6fcd6 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_97a8de35-d940-60e6-aede-11a6de3a832e-34b6fcd6 {
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
}

#w-node-_97a8de35-d940-60e6-aede-11a6de3a832f-34b6fcd6, #w-node-_97a8de35-d940-60e6-aede-11a6de3a8331-34b6fcd6, #w-node-_1938f0e6-ff9f-dc66-938e-d96f541356df-34b6fcd6 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_2b76cdf9-8f5c-b3df-23a5-8a8792bbb402-34b6fcd6 {
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
}

#w-node-_2b76cdf9-8f5c-b3df-23a5-8a8792bbb403-34b6fcd6, #w-node-_2b76cdf9-8f5c-b3df-23a5-8a8792bbb40c-34b6fcd6 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_8a015e8b-de65-3083-420c-d3c1a514beca-34b6fcd6 {
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
}

#w-node-_8a015e8b-de65-3083-420c-d3c1a514becb-34b6fcd6, #w-node-_8a015e8b-de65-3083-420c-d3c1a514becd-34b6fcd6 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_9048c167-9343-10ef-0668-a66455271655-34b6fcd6 {
  grid-template-rows: auto;
  grid-template-columns: .5fr .5fr .5fr;
}

#w-node-_9048c167-9343-10ef-0668-a66455271656-34b6fcd6, #w-node-_9048c167-9343-10ef-0668-a6645527165d-34b6fcd6, #w-node-ee3716e2-84a9-7a42-0480-845c03b12e72-34b6fcd6 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_9d055b91-c6b1-7698-af59-cf06460ed833-34b6fcd6 {
  grid-template-rows: auto;
  grid-template-columns: .5fr;
}

#w-node-_9d055b91-c6b1-7698-af59-cf06460ed834-34b6fcd6 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

@media screen and (max-width: 991px) {
  #w-node-_93198dbd-4e69-d56d-436c-33c031d593af-34b6fcd6 {
    grid-template-rows: auto;
    grid-template-columns: .75fr 1fr;
  }
}

@media screen and (max-width: 479px) {
  #w-node-_0d0b54c0-5591-6353-c8c4-79a6f707fcd7-34b6fcd6 {
    grid-template-rows: auto auto;
    grid-template-columns: 1fr;
  }

  #w-node-_0d0b54c0-5591-6353-c8c4-79a6f707fcd8-34b6fcd6, #w-node-_0d0b54c0-5591-6353-c8c4-79a6f707fcd9-34b6fcd6, #w-node-_36510e76-db47-5165-f158-dfa1f72dc6f8-34b6fcd6, #w-node-a190b921-99b7-bf7f-0121-4e50d3c13964-34b6fcd6 {
    grid-area: span 1 / span 1 / span 1 / span 1;
  }

  #w-node-_93198dbd-4e69-d56d-436c-33c031d593af-34b6fcd6 {
    grid-template-rows: auto;
    grid-template-columns: 1fr;
  }

  #w-node-_566b8e2a-b405-e05d-9b14-f9008d6f94c5-34b6fcd6 {
    grid-area: span 1 / span 1 / span 1 / span 1;
  }

  #w-node-_29c0619f-83af-720a-c131-497c5c1f6e3b-34b6fcd6 {
    grid-area: span 3 / span 1 / span 3 / span 1;
  }

  #w-node-_17555c19-5879-f2fc-593e-f83909ff402f-34b6fcd6 {
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    display: none;
  }

  #w-node-_17555c19-5879-f2fc-593e-f83909ff4030-34b6fcd6 {
    grid-area: span 1 / span 1 / span 1 / span 1;
  }

  #w-node-_17555c19-5879-f2fc-593e-f83909ff4032-34b6fcd6 {
    grid-area: span 2 / span 1 / span 2 / span 1;
  }

  #w-node-_17555c19-5879-f2fc-593e-f83909ff4034-34b6fcd6 {
    grid-area: span 3 / span 1 / span 3 / span 1;
  }

  #w-node-_17555c19-5879-f2fc-593e-f83909ff4036-34b6fcd6 {
    grid-area: span 2 / span 1 / span 2 / span 1;
  }

  #about-us.w-node-_5232a65c-de11-323a-2fcb-e6602ea7e46d-34b6fcd6 {
    grid-template-rows: auto;
    grid-template-columns: 1fr;
  }

  #w-node-_5232a65c-de11-323a-2fcb-e6602ea7e46e-34b6fcd6, #w-node-_5232a65c-de11-323a-2fcb-e6602ea7e473-34b6fcd6 {
    grid-area: span 1 / span 1 / span 1 / span 1;
  }

  #w-node-_9c003587-035f-efb1-becd-242b35db6173-34b6fcd6 {
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
  }

  #w-node-_9c003587-035f-efb1-becd-242b35db6174-34b6fcd6, #w-node-_9c003587-035f-efb1-becd-242b35db6177-34b6fcd6 {
    grid-area: span 1 / span 1 / span 1 / span 1;
  }

  #w-node-_5e4cd5a5-42ff-3fca-635c-04629b68b861-34b6fcd6 {
    grid-template-rows: auto;
    grid-template-columns: 1fr;
  }

  #w-node-_5e4cd5a5-42ff-3fca-635c-04629b68b862-34b6fcd6, #w-node-_5e4cd5a5-42ff-3fca-635c-04629b68b86b-34b6fcd6 {
    grid-area: span 1 / span 1 / span 1 / span 1;
  }

  #w-node-_30b8a261-8f4e-85ff-eec5-36c05cbeffc2-34b6fcd6 {
    grid-template-rows: auto;
    grid-template-columns: 1fr;
  }

  #w-node-_2e21c6f4-5188-632e-3e36-9199e4bba03b-34b6fcd6, #w-node-_8ff46889-eb01-c9b5-1682-44e9ad855f07-34b6fcd6 {
    grid-area: span 1 / span 1 / span 1 / span 1;
  }

  #w-node-_72dfc285-b391-6e01-1c9c-2777858931b6-34b6fcd6 {
    grid-template-rows: auto;
    grid-template-columns: .5fr 1fr 1fr 1fr;
  }

  #w-node-_72dfc285-b391-6e01-1c9c-2777858931b7-34b6fcd6, #w-node-_72dfc285-b391-6e01-1c9c-2777858931c0-34b6fcd6, #w-node-_5720b6ae-c30c-0ec9-d8f4-31a484b71d7e-34b6fcd6, #w-node-dc9819d8-4bd0-3c68-e536-9d333c25cfa5-34b6fcd6 {
    grid-area: span 1 / span 1 / span 1 / span 1;
  }

  #w-node-_09555ed3-6217-3ce5-e5cb-63ca75a9705c-34b6fcd6 {
    grid-template-rows: auto auto;
    grid-template-columns: 1.25fr;
  }

  #w-node-f0d2d3c0-f61e-2220-d0a4-6f40ad689024-34b6fcd6 {
    order: 9999;
    grid-area: span 2 / span 1 / span 2 / span 1;
  }

  #w-node-db76683e-371a-7e8f-cdaf-53d1de89c8ba-34b6fcd6, #w-node-f3e46a8c-d603-e6a0-6493-c612ab2b6c59-34b6fcd6 {
    grid-area: span 1 / span 1 / span 1 / span 1;
  }

  #w-node-_97a8de35-d940-60e6-aede-11a6de3a832e-34b6fcd6 {
    grid-template-rows: auto;
    grid-template-columns: 1fr;
    display: none;
  }

  #w-node-_97a8de35-d940-60e6-aede-11a6de3a832f-34b6fcd6, #w-node-_97a8de35-d940-60e6-aede-11a6de3a8331-34b6fcd6 {
    grid-area: span 1 / span 1 / span 1 / span 1;
  }

  #w-node-_2b76cdf9-8f5c-b3df-23a5-8a8792bbb402-34b6fcd6 {
    grid-template-rows: auto;
    grid-template-columns: 1fr;
  }

  #w-node-_2b76cdf9-8f5c-b3df-23a5-8a8792bbb403-34b6fcd6, #w-node-_2b76cdf9-8f5c-b3df-23a5-8a8792bbb40c-34b6fcd6 {
    grid-area: span 1 / span 1 / span 1 / span 1;
  }

  #w-node-_8a015e8b-de65-3083-420c-d3c1a514beca-34b6fcd6 {
    grid-template-rows: auto;
    grid-template-columns: 1fr;
  }

  #w-node-_8a015e8b-de65-3083-420c-d3c1a514becb-34b6fcd6, #w-node-_8a015e8b-de65-3083-420c-d3c1a514becd-34b6fcd6 {
    grid-area: span 1 / span 1 / span 1 / span 1;
  }

  #w-node-_9048c167-9343-10ef-0668-a66455271655-34b6fcd6 {
    grid-template-rows: auto;
    grid-template-columns: 1fr;
  }

  #w-node-_9048c167-9343-10ef-0668-a66455271656-34b6fcd6, #w-node-_9048c167-9343-10ef-0668-a6645527165d-34b6fcd6 {
    grid-area: span 1 / span 1 / span 1 / span 1;
  }

  #w-node-ee3716e2-84a9-7a42-0480-845c03b12e72-34b6fcd6 {
    order: -9999;
    grid-area: span 1 / span 1 / span 1 / span 1;
  }
}
